{
  "extends": "eslint-config-airbnb",
  "rules": {
    "no-extra-semi": 1,
    "semi": 0,
    "func-names": 0,
    "strict": [0, "never"],
    "no-param-reassign": 0,
    "no-cond-assign": 0,
    "no-shadow": 0
  }
}
